<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Guerlain</title>
  <link rel="stylesheet" href="js/keyboard/keyboard.min.css" />
  <link rel="stylesheet" href="css/style.min-2406.css" />
  <link rel="stylesheet" href="js/keyboard/keyboard.css" />
</head>

<body>
  <div class="body-wrapper">

    <form action="step_9.html" method="get">
      <input type="hidden" name="question" data-question="question"
        value="Which of the following initiatives are a part of the Guerlain’s For Bees Conservation Programme?" />

      <div class="grid-position">

        <div class="grid-position--top">

          <header>

            <div class="logo">
              <img src="img/guerlain_logo.png" alt="Guerlain logo" />
            </div>

            <div class="number-block number-block__sapces-sm">
              <h2>
                {{EN: Which of the following initiatives are a part of Guerlain’s bee preservation Programme ?||JP:
                <span class="KozGoPro">「ゲラン ミツバチ保護プログラム」に当てはまるのは<br>次のうちどちら?</span>}}
              </h2>

              <p class="question-number">
                4
              </p>
            </div>

          </header>

          <main class="main">

            <img src="img/guerlain_5.jpg" alt="3 honeycombs">

          </main>

        </div>

        <div class="grid-position--bottom">

          <div class="btns">

            <label class="btn">
              <input type="submit" name="answer" value="Woman for Bees" hidden="" />

              <span>
                {{EN: Woman for Bees||JP: <span class="KozGoPro">ウーマン・フォー・ビー</span>}}
              </span>
            </label>

            <label class="btn">
              <input type="submit" name="answer" value="Woman for Makeup" hidden="" />

              <span>
                {{EN: Woman for Makeup||JP: <span class="KozGoPro">ウーマン・フォー・ <br> メイクアップ </span>}}
              </span>
            </label>

          </div>

        </div>

      </div>

    </form>

  </div>

  <script src="./libs/jquery/jquery-1.11.1.min.js"></script>
  <script src="js/scripts.min-1806.js"></script>
</body>

</html>