<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Guerlain</title>
  <link rel="stylesheet" href="js/keyboard/keyboard.min.css" />
  <link rel="stylesheet" href="css/style.min-2406.css" />
  <link rel="stylesheet" href="js/keyboard/keyboard.css" />
</head>

<body>
  <div class="body-wrapper">

    <form action="" method="get">

      <div class="grid-position">

        <div class="grid-position--top">

          <header>

            <div class="logo">
              <img src="img/guerlain_logo.png" alt="Guerlain logo" />
            </div>

            <div class="number-block number-block__answer">
              <h2>
                {{EN: The answer is||JP: <span class="KozGoPro">正解は…</span>}}
              </h2>

              <p class="question-number">
                4
              </p>
            </div>

          </header>

          <main class="main">

            <img src="img/guerlain_5.jpg" alt="3 honeycombs">

          </main>

        </div>

        <div class="grid-position--bottom">

          <div class="answer-block answer-block__sapces-sm">

            <h2>
              {{EN: Women for bees||JP: <span class="KozGoPro">ウーマン・フォー・ビー</span>}}
            </h2>

            <p>
              {{EN: A partnership with UNESCO in collaboration with the OFA which trains women beekeepers and creates
              new beekeeping operations throughout the world.||JP: <span class="KozGoPro">ユネスコとのパートナーシップのもと、女性の養蜂家を育成し
                、<br>2025年までに 1 億 2,500 万匹のミツバチを再繁殖させることを目標としています。</span>}}
            </p>

          </div>

          <div class="btns">

            <a href="#" class="btn btn__md" id="answer_btn">
              <span>
                {{EN: next||JP: <span class="KozGoPro">next</span>}}
              </span>
            </a>

          </div>

        </div>

      </div>

    </form>

  </div>

  <script src="./libs/jquery/jquery-1.11.1.min.js"></script>
  <script src="js/scripts.min-1806.js"></script>
</body>

</html>